# Compiler/linker output.
#
*.o
*.o.d
*.so
*.a
*.l
*.l.cpp-options

# Generated documentation.
#
*.pdf
*.ps

# Generated build system files.
#
*-dynamic.make
config.build

# Generated .gitignore files.
#
.gitignore
