# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc

# Note that these can be symlinks (so no trailing /).
test
test-*

driver
test.?xx
